<a href="https://colab.research.google.com/github/Achiever-caleb/Machine_Learning_Tutorials/blob/main/python_basic_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Machine Learning



### Brief History of Python

- Created by Guido van Rossum in the late 1980s.

- First released in 1991.

- Named after the British comedy group Monty Python.

- Key design philosophies: code readability, clear syntax, and "batteries included" (large standard library).


### Key milestones:
- Python 2.0 (2000): Introduced list comprehensions and a garbage collection system.
- Python 3.0 (2008): A major, non-backward-compatible release aimed at fixing fundamental design flaws.
- Python 2 end-of-life: January 1, 2020. All users are strongly encouraged to use Python 3.

## Basics: Variables, Data Types, and Input/Output

### Variables:
 - Variables are used to store data in a program.
 - In Python, you don't need to explicitly declare the data type of a variable. It's dynamically typed.
 - Variable names are case-sensitive (e.g., my_variable and My_Variable are different).
 - Follow naming conventions (snake_case is recommended: my_variable, user_name).

In [ ]:
name = "Alice"  # String
age = 30        # Integer
height = 5.8    # Float
is_student = False # Boolean

print(f"Name: {name}, Age: {age}, Height: {height}, Is Student: {is_student}")

Name: Alice, Age: 30, Height: 5.8, Is Student: False

Data Types in Python include:

- Integers (int) for whole numbers, e.g., 10.
- Floating-point numbers (float) for decimals, e.g., 3.14.
- Strings (str) for text, e.g., "hello".
- Booleans (bool) for True or False.

In [ ]:
x = 10
y = 3.14
z = "Hello"
w = True

print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>


### Input/Output:
- The `print()` function is used to display output to the console.
- The `input()` function is used to get input from the user. It always returns a string.

In [ ]:
user_name = input("Enter your name: ")
print(f"Hello, {user_name}!")

user_age_str = input("Enter your age: ") # Input is always a string
user_age = int(user_age_str) # Convert the string to int
print(f"You are {user_age} years old.")

### Type Conversion (Casting):
You can convert between data types using functions like int(), float(), str(), and bool().

In [ ]:
num_str = "123"
num_int = int(num_str)  # Convert string to integer
num_float = float(num_str) # Convert string to float

print(type(num_str))
print(type(num_int))
print(type(num_float))

# Example of Type Conversion
<class 'str'>
<class 'int'>
<class 'float'>

### Important Note about input():
- Because input() *always* returns a string, it's crucial to convert the input to the desired data type if you need to perform numerical operations or other type-specific tasks.

In [ ]:
num1_str = input("Enter the first number: ")
num2_str = input("Enter the second number: ")

# Without conversion, this will concatenate the strings
print("Without conversion:", num1_str + num2_str)

num1 = int(num1_str)
num2 = int(num2_str)

print("With conversion:", num1 + num2)

Enter the first number: 1
Enter the second number: 2
Without conversion: 12
With conversion: 3

### Arithmetic Operations and String Manipulations

### Arithmetic Operations

- Arithmetic operators are used to perform mathematical calculations on numeric values.

In [ ]:
num1 = 10
num2 = 3

print(f"# Example Numbers: num1 = {num1}, num2 = {num2}")

# Addition (+)
#Adds two operands.
print(f"Addition: {num1} + {num2} = {num1 + num2}")

# Subtraction (-)
#Subtracts the second operand from the first.
print(f"Subtraction: {num1} - {num2} = {num1 - num2}")

# Multiplication (*)
# Multiplies two operands.
print(f"Multiplication: {num1} * {num2} = {num1 * num2}")

# Division (/) - Always results in a float
# Divides the first operand by the second. Always returns a float."
print(f"Division: {num1} / {num2} = {num1 / num2}")

# Floor Division (//) - Integer division (truncates the decimal)
# Divides the first operand by the second and returns the integer part (floor)."
print(f"Floor Division: {num1} // {num2} = {num1 // num2}")

# Modulo (%) - Returns the remainder of the division
# Returns the remainder of the division of the first operand by the second."
print(f"Modulo (Remainder): {num1} % {num2} = {num1 % num2}")

# Exponentiation (**)
# Raises the first operand to the power of the second.
print(f"Exponentiation: {num1} ** {num2} = {num1 ** num2}")

# Order of operations (PEMDAS/BODMAS) is followed
# Python follows the standard order of operations (PEMDAS/BODMAS): Parentheses, Exponents, Multiplication and Division (from left to right), Addition and Subtraction (from left to right).
result = (num1 + num2) * 2 - 1
print(f"Example with Order of Operations: (({num1} + {num2}) * 2) - 1 = {result}")

# Example Numbers: num1 = 10, num2 = 3
Addition: 10 + 3 = 13
Subtraction: 10 - 3 = 7
Multiplication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor Division: 10 // 3 = 3
Modulo (Remainder): 10 % 3 = 1
Exponentiation: 10 ** 3 = 1000
Example with Order of Operations: ((10 + 3) * 2) - 1 = 25

### String Manipulation

- String manipulation involves various operations to modify or extract information from strings.

In [ ]:
greeting = "Hello"
target = "World"

print(f"# Example Strings: greeting = '{greeting}', target = '{target}'")

# Concatenation (+)
# Joins two or more strings together.
message = greeting + ", " + target + "!"
print(f"Concatenation: {greeting} + ', ' + {target} + '!' = '{message}'")

# Repetition (*)
# Repeats a string a specified number of times.
repeated_greeting = greeting * 3
print(f"Repetition: {greeting} * 3 = '{repeated_greeting}'")

long_string = "This is a long string."
print(f"# Example Long String: long_string = '{long_string}'")

# Slicing ([start:stop:step])
# Extracts a substring from a string using indices. [start:stop:step]"
print(f"Slicing:")
print(f"  First four characters: long_string[0:4] = '{long_string[0:4]}'") # Up to, but not including index 4
print(f"  From index 5 to the end: long_string[5:] = '{long_string[5:]}'")
print(f"  Every other character: long_string[::2] = '{long_string[::2]}'")
print(f"  Reverse the string: long_string[::-1] = '{long_string[::-1]}'")

# String Formatting (f-strings)
# Creates formatted strings by embedding expressions inside string literals, preceded by an f or F."
name = "Alice"
age = 30
formatted_string = f"{name} is {age} years old."
print(f"\n# String Formatting (f-strings):")
print(f"  Formatted string: f'{{name}} is {{age}} years old.' = '{formatted_string}'")

# Other Formatting examples
price = 19.99
formatted_price = f"The price is ${price:.2f}" # Format to 2 decimal places
print(f"Formatting a float: {formatted_price}")

# Demonstrating different quotes
# Python supports single (' '), double (\" \"), and triple (''' ''' or \"\"\" \"\"\") quotes for strings.")
# Triple quotes are useful for multi-line strings.")
single_quoted = 'This is a single-quoted string.'
double_quoted = "This is a double-quoted string."
triple_quoted = """This is a triple-quoted string.
It can span multiple lines."""

print(f"\n# Different String Quotes:")
print(f"Single Quotes: '{single_quoted}'")
print(f"Double Quotes: \"{double_quoted}\"")
print(f"Triple Quotes:\n'''{triple_quoted}'''")

# Example Strings: greeting = 'Hello', target = 'World'
Concatenation: Hello + ', ' + World + '!' = 'Hello, World!'
Repetition: Hello * 3 = 'HelloHelloHello'
# Example Long String: long_string = 'This is a long string.'
Slicing:
  First four characters: long_string[0:4] = 'This'
  From index 5 to the end: long_string[5:] = 'is a long string.'
  Every other character: long_string[::2] = 'Ti saln tig'
  Reverse the string: long_string[::-1] = '.gnirts gnol a si sihT'

# String Formatting (f-strings):
  Formatted string: f'{name} is {age} years old.' = 'Alice is 30 years old.'
Formatting a float: The price is $19.99

# Different String Quotes:
Single Quotes: 'This is a single-quoted string.'
Double Quotes: "This is a double-quoted string."
Triple Quotes:
'''This is a triple-quoted string.
It can span multiple lines.'''

### Data Structures in Python

Lists: Ordered, mutable collections.

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

Tuples: Ordered, immutable collections.

In [ ]:
coordinates = (4, 5)
print(coordinates[0])

4

Dictionaries: Key-value pairs.

In [ ]:
student_scores = {"Alice": 85, "Bob": 90}
print(student_scores["Alice"])

85

Sets: Unordered, unique elements.

In [ ]:
unique_numbers = {1, 2, 2, 3}
print(unique_numbers)

{1, 2, 3}

### Manipulating and Iterating Through Data Structures
Lists


- Appending: Adds an element to the end of a list.

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

- Removing: Removes the first occurrence of a specified value.

In [ ]:
numbers.remove(2)
print(numbers)

[1, 10, 3, 4]

- Inserting: Adds an element at a specified position.

In [ ]:
numbers.insert(1, 10)
print(numbers)

[1, 10, 2, 3, 4]

- Indexing: Access specific elements using their position.

In [ ]:
print(numbers[0])
print(numbers[-1])

1
4

- Slicing: Extract sublists using start, stop, and step.

In [ ]:
print(numbers[1:3])
print(numbers[:2])
print(numbers[::2])

[10, 3]
[1, 10]
[1, 3]

NOTE: Tuples are immutable and cannot be edited, but can be sliced and indexed.

Dictionaries
- Accessing Values

  - Use keys to retrieve values

In [ ]:
student_scores = {"Alice": 85, "Bob": 90}
print(student_scores["Alice"])

- Modifying Values

    - Update values by reassigning them to keys.

In [ ]:
student_scores["Alice"] = 95
print(student_scores)

{'Alice': 95, 'Bob': 90}

- Adding: Assign a value to a new key.

In [ ]:
student_scores["Charlie"] = 88
print(student_scores)

{'Alice': 95, 'Bob': 90, 'Charlie': 88}

- Removing: Use pop() to remove a key-value pair.

In [ ]:
student_scores.pop("Bob")
print(student_scores)

{'Alice': 95, 'Charlie': 88}

Sets

- Union: Combines elements from two sets (removes duplicates).

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_a.union(set_b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

- Intersection: Finds common elements between sets.

In [ ]:
print(set_a.intersection(set_b))  # Output: {3}

{3}

- Difference: Finds elements in one set but not in another.

In [ ]:
print(set_a.difference(set_b))  # Output: {1, 2}

{1, 2}

- Adding:

In [ ]:
set_a.add(6)
print(set_a)  # Output: {1, 2, 3, 6}

Removing:

In [ ]:
set_a.remove(3)
print(set_a)  # Output: {1, 2, 6}

{1, 2}

### Iterating Through Data Structures

Lists

In [ ]:
numbers = [10, 20, 30]
for num in numbers:
    print(num)

Dictionaries

In [ ]:
for key, value in student_scores.items():
    print(f"{key}: {value}")

Sets

In [ ]:
for elem in set_a:
    print(elem)

Tuples

In [ ]:
for value in my_tuple:
    print(value)

###  Control Structures: Loops and Conditionals


Control structures allow you to control the flow of execution in your program.




 If-else Statements: Making decisions based on different conditions
- If-else Statements
- The 'if' statement executes a block of code if a condition is true.
-  The 'else' statement executes a block of code if the 'if' condition is false.
- The 'elif' (else if) statement allows you to check multiple conditions in sequence.

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
elif age >= 13:  # Check another condition if the first is false
    print("You are a teenager.")
else:
    print("You are a child.")

print("\n# Example with multiple conditions and logical operators:")
score = int(input("Enter your score: "))
if score >= 90 and score <= 100:
    print("Grade: A")
elif score >= 80 and score < 90:
    print("Grade: B")
elif score >= 70 and score < 80:
    print("Grade: C")
elif score >= 0 and score < 70:
    print("Grade: F")
else:
    print("Invalid score entered.")

### For Loops: Iterating over sequences

- A 'for' loop is used to iterate over a sequence (like a list, tuple, string, or range).

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("# Iterating over a list:")
for fruit in fruits:
    print(fruit)

print("\n# Iterating over a string:")
my_string = "Python"
for char in my_string:
    print(char)


# The range() function generates a sequence of numbers.
# range(stop): Generates numbers from 0 up to (but not including) stop.
# range(start, stop): Generates numbers from start up to (but not including) stop.
# range(start, stop, step): Generates numbers from start up to stop, incrementing by step.

print("# range(5):")
for i in range(5):
    print(i)

print("# range(2, 7):")
for i in range(2, 7):
    print(i)

print("# range(1, 10, 2):")
for i in range(1, 10, 2):
    print(i)

print("\n# Iterating over a tuple")
my_tuple = (10, 20, 30)
for item in my_tuple:
    print(item)

### While Loops: Executing code while a condition is true
- A 'while' loop executes a block of code as long as a condition is true.
- Be careful to avoid infinite loops by ensuring the condition eventually becomes false.

In [ ]:
count = 0
print("# Example with a counter:")
while count < 5:
    print(f"Count is: {count}")
    count += 1  # Important: Increment the counter to avoid an infinite loop

print("\n# Example with user input:")
user_input = ""
while user_input != "quit":
    user_input = input("Enter a command ('quit' to exit): ")
    print(f"You entered: {user_input}")

print("\n# Using 'break' to exit a loop prematurely:")
i = 0
while True: #this would normally be an infinite loop
    print(i)
    i += 1
    if i >= 5:
        break #exits the loop when i is 5 or more

print("\n# Using 'continue' to skip to the next iteration:")
for x in range(10):
    if x % 2 == 0: #if x is even
        continue #skip to the next iteration
    print(f"{x} is odd") #only odd numbers will be printed

### Functions and Modules


Defining and Calling Functions


- A function is a reusable block of code that performs a specific task.
- Defining a function uses the 'def' keyword, followed by the function name, parentheses '()', and a colon ':'.
- Calling a function executes the code within its block.

In [ ]:
def greet(name):
    """This function greets the person passed in as a parameter.""" # Docstring
    print(f"Hello, {name}!")

In [ ]:
greet("Charlie")
greet("Alice")

Hello, Charlie!
Hello, Alice!

Passing Arguments to Functions

- Arguments are values passed to a function when it's called. They are used to provide input to the function.

In [ ]:
def add(x, y):
    print(f"x is {x}")
    print(f"y is {y}")
    print("Performing x + y")
    result = x + y
    return result

In [ ]:
sum_result = add(5, 3)
print(f"The sum is: {sum_result}")

sum_result2 = add(10, 20)
print(f"The sum is: {sum_result2}")

x is 5
y is 3
Performing x + y
The sum is: 8
x is 10
y is 20
Performing x + y
The sum is: 30

Note: Returning Values from Functions
- The 'return' statement is used to send a value back from a function to the caller.
- If a function doesn't have a 'return' statement, it implicitly returns 'None'.

 Importing Modules and Using Their Functions

- A module is a file containing Python definitions and statements. Modules provide a way to organize code into reusable units.

- The 'import' statement is used to import modules.

In [ ]:
import math  # Import the math module
print(f"The square root of 25 is: {math.sqrt(25)}")

import random
print(f"A random integer between 1 and 10: {random.randint(1, 10)}")

# Importing specific functions from a module
from datetime import datetime
print(f"Current date and time: {datetime.now()}")

Creating Your Own Modules

- To create your own module, simply save Python code in a file with a '.py' extension.
- Then, you can import that file as a module in other Python scripts.

In [ ]:
# Example: Create a file named my_module.py with the following content:
# def my_function():
#     print("This is from my module.")


# import my_module
# my_module.my_function()

 File Handling


- File handling allows you to read from and write to files.

Reading from and Writing to Text Files
- Reading from and Writing to Text Files

In [ ]:
try:
    with open("my_file.txt", "w") as f: # 'w' mode overwrites existing content
        f.write("This is some text.\n")
        f.write("This is another line.\n")
    print("File Written")
except Exception as e:
    print(f"An error occurred during writing: {e}")

try:
    with open("my_file.txt", "r") as f: # 'r' mode is for reading
        contents = f.read()  # Read the entire file
        print("\nFile Contents:")
        print(contents)
    with open("my_file.txt", "a") as f: # 'a' mode appends to the file
        f.write("This line is appended\n")
    with open("my_file.txt", "r") as f:
        contents = f.read()
        print("\nFile Contents after append:")
        print(contents)
except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred during reading: {e}")


Opening and Closing Files (using 'with')
- Opening and Closing Files (using 'with')
- The 'with' statement ensures that files are properly closed even if errors occur. It's the recommended way to work with files.
- The 'with' statement handles closing the file automatically, which is important to prevent resource leaks.
- The different modes for opening a file are:
- 'r': Read (default)
- 'w': Write (overwrites the file if it exists)
- 'a': Append (adds to the end of the file)
- 'x': Create (creates a new file, raises an error if it exists)
- 'b': Binary mode
- 't': Text mode (default)
- '+': Updating (reading and writing)

Basic Error Handling (try-except blocks)
- Basic Error Handling (try-except blocks)
- The 'try-except' block is used to handle exceptions (errors) that might occur during code execution.
- Code within the 'try' block is monitored for exceptions.
- If an exception occurs, the code within the corresponding 'except' block is executed.

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
except FileNotFoundError:
    print("File not found")
except Exception as e:  # Catching a more general exception
    print(f"An unexpected error occurred: {e}")

print("Program continues...") # This will still execute after a caught exception

**Â© Caleb Okon 2024**

Python for Machine Learning Tutorials